/* App.css */

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .search {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        max-width: 550px;
        height: 45px;
        padding: 0 20px;
        border-radius: 5px;
        background: #F5F5F5;
        border: 1px solid #E4E7EB;
    }
  
  
  .search input {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
  }
  
  .search button {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .container {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    background-color: #f4f4f4;
    width: 250px;
    position: fixed;
    left: 0;
    top: 40px; /* Adjust this according to your navbar height */
    bottom: 0;
    overflow-y: auto;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
  }
  
  .content {
    flex: 1;
    padding-left: 260px; /* Sidebar width + 10px */
    padding-top: 50px; /* Navbar height + 10px */
    padding-right: 20px;
  }
  .main-container {
    text-align: left;
}
.container{   
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 230px;
        height: 75px;
        padding: 0 30px;
        margin-top: 25px;
    }
  .page-header__logo img {
    max-width: 30px;
    height: auto;
    margin-right: 12px;
    }
  .page-header__logo {
    display: block;
    position: relative;
    margin-top: -15px;
}
.page-header__logo_text {
    font-weight: bold;
    position: relative;
    font-size: 20px;
}