.container.user-group-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.container-profile {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
}
.user-profile-group{
    position: relative;
      width: 100%;
      max-width: 800px;
      padding: 30px 45px;
      border-radius: 10px;
      background: #FFFFFF;
      margin: 10% auto;
  
}
.btn-group-save {
    margin: 0 auto;
    width: 25%;
}
.pin-group > input {
    display: inline-block;
    width: 48%;
    margin-right: 2%;
}

.user-heading {
    text-align: left;
    font-size: em;
}
.user-profile-form{
    width: 100%;
}
.input-container {
    margin-bottom: 20px;
    color: #6C6C6C;
  }
  
  input,select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  .user-heading h2 {
    font-size: 1.5em;
}
  button {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: #f30a5c;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #7eb900;
    
  }